
<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  
</head>

<!-- cabecero fijo -->
<header id="main-header">
  
  <a id="logo-header" href="/inicio" class="font">
      SkyFit
  </a> 
  
  <nav>
      <ul>
          <li><a routerLink="/inicio" class="font">Inicio</a></li>
          <li><a routerLink="/segunda" class="font">Ver rutinas</a></li>
          <li><a routerLink="/acerca" class="font">Agregar rutina</a></li>
      </ul>
  </nav><!-- rutas -->

</header>


<section id="main-content" ><!-- contenedor de las rutas -->
    <router-outlet ></router-outlet>
</section>


<footer id="main-footer"><!-- pie de pagina -->
  <p>&copy; 2017 <a href="http//www.facebook.com">gymwolf.com</a></p>
</footer><!-- / #main-footer -->  


