body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
    
    padding-top: 80px;
}

h1 {
    font-size: 3.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
    display:block;
    margin:auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
    background: rgb(6, 152, 178);
    color: white;
    height: 60px;

    position:absolute; 
    z-index:1;
    
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    font-size: 2.3em;
    font-weight: 300;
}   
    #main-header a {
        color: white;

    }
    #logo-header{
        text-decoration: none;

    }
    .font{
        font-family: 'Lobster', cursive;
    }
    
/*
 * Navegación
 */
nav {
    float: right;
    
}
   
        nav ul li {
            display: inline-block;
            line-height: 60px;
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
            
                nav ul li a:hover {
                    background: rgb(98, 200, 93);
                }
/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

    #main-content header,
    .content {
        padding: 40px;
    }
    


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
    background: rgb(140, 9, 17);
    color: white;
    text-align: center;
    padding: 20px;
    width:1300px;
    bottom: 0;
    position: fixed;
}
    #main-footer p {
        margin: 0;
    }
    
    #main-footer a {
        color: white;
    }