#acerca{
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 60px;
}
#holi{
  left: 0;
  position: fixed;
  right: auto;

}
#holi2{
  margin-top: 480px;
  left: 0;
  position: fixed;
  right: auto;

}
#dropeable{
  margin-left: 20px;
}
#lista1 {
  display:inline;

}
#boton{
  border: none;
  outline: none;
  background-color:rgb(0, 150, 0);
  color: white;
  margin:10px;
}
#fondoItem{
  border: none;
  outline: none;
  background-color:rgb(98, 200, 93);
  color: white;

}

/**
    boton mostrar los ejercicios
**/


